* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: black;
    background-color: aliceblue;
    font-size: 72px;
    text-align: center;
}

.description {
    background-color: beige;
}

.ingredients {
    color: blue;
}

.steps {
    font-weight: 700;
}